* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul,
ol {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  font-size: 1.25rem;
}

a:hover > .sideIcon {
  width: 1.25rem;
  height: 1.25rem;
}

h1 {
  font-size: 1.5rem;
}

:root {
  --sectionPadding: 1rem;
  --gridGap: 2rem;
  --blue: #1992d4;
  --gray: #e2e8f0;
  --borderRadius: 25px;
}

body {
  text-align: center;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  grid-template-columns: minmax(min-content, 200px) 1fr;
  grid-template-rows: minmax(min-content, 100px) 1fr;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--blue);
  color: white;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: var(--gridGap);
  padding: var(--sectionPadding);
}

.sidebar nav ul {
  display: grid;
  gap: calc(var(--gridGap) / 4);
  font-weight: bold;
}

header {
  grid-area: header;
  display: grid;
  grid-template-areas:
    "search userInfo"
    "userGreeting userActions";
  grid-template-columns: 8fr 5fr;
  gap: calc(var(--gridGap) / 2);
  padding: var(--sectionPadding);
}

.search {
  grid-area: search;
  justify-self: flex-start;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content auto;
  gap: calc(var(--gridGap) / 2);
  align-items: center;
}

.search input {
  width: min(500px, 100%);
  justify-self: flex-start;
  background-color: var(--gray);
  border: none;
  border-radius: var(--borderRadius);
  height: 50%;
  padding: 1rem;
}

.userInfo {
  grid-area: userInfo;
  justify-self: flex-end;
  font-weight: bold;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: calc(var(--gridGap) / 2);
}

.userInfo img {
  width: 3rem;
  height: 3rem;
}

.userGreeting {
  grid-area: userGreeting;
  justify-self: flex-start;
}

.userActions {
  grid-area: userActions;
  display: grid;
  width: 100%;
  justify-content: flex-end;
  grid-template-columns: repeat(auto-fit, 50px);
  gap: calc(var(--gridGap) / 2);
}

main {
  grid-area: main;
  display: grid;
  grid-template-areas:
    "projects announcements"
    "projects trending";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--gray);
  padding: var(--sectionPadding);
  gap: calc(var(--gridGap) / 2);
}

.projects {
  grid-area: projects;
}

.announcements {
  grid-area: announcements;
  padding: calc(var(--sectionPadding) / 2);
}

.announcementCard,
.trendingCard {
  border-radius: var(--borderRadius);
}

.trending {
  grid-area: trending;
  padding: calc(var(--sectionPadding) / 2);
}

.announcements h1,
.trending h1,
.projects h1 {
  text-align: left;
  margin: 1rem 0;
}

.announcementCard,
.trendingCard {
  background-color: white;
  padding: 1rem;
}

.cardTitle {
  font-size: 1rem;
  font-style: bold;
}

hr {
  margin: 1rem 0;
}

.trendingCard {
  display: grid;
  gap: var(--gridGap);
}

.userHandle {
  font-weight: bold;
}

.projectList {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: space-evenly;
  gap: var(--gridGap);
}

.projectCard {
  background-color: white;
  width: 300px;
  height: 150px;
}

.iconTextContainer {
  display: grid;
  grid-auto-flow: column;
}

.headerIcon {
  height: 100%;
}

.sideIcon {
  height: 1rem;
  width: 1rem;
}

.sideBarLink,
.imageHeaderContainer {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: min-content;
  gap: 0.5rem;
}

.sideBarLink span,
.imageHeaderContainer h1 {
  text-align: left;
}

#notificationIcon {
  height: 75%;
}

.userGreeting img {
  height: 4rem;
}

.userActions {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: repeat(3, 8ch);
}

.userActions button {
  background-color: var(--blue);
  color: white;
  border: 0;
  border-radius: var(--borderRadius);
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.userActions button:hover {
  border: 1px solid black;
}

.trendingItem {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content;
  align-items: center;
  text-align: left;
  gap: 1rem;
}

.trendingItem img {
  height: 48px;
}
